Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

add optimized svg icons
  static/images/icons/computer-programer.svg
  static/images/icons/data-center.svg
  static/images/icons/earth.svg
  static/images/icons/factory.svg
  static/images/icons/library.svg
  static/images/icons/partners.svg
  static/images/icons/powerful-chip.svg
  static/images/icons/toolbox.svg
  static/images/icons/university.svg
Due: none

make italic title in Who is using CORE section
  pages/about/about.scss
  pages/about/index.jsx
Due: yarn format, prettier --write

add decorative icons to Who is using CORE section
  pages/about/about.scss
Due: prettier --write

fix link
  pages/index.jsx
Due: yarn format

fix cross-section links from home to endorsements
  pages/index.jsx
Due: yarn format

fix Contact mail link
  data/contact.md
Due: none

upgrade packages
  yarn.lock
Due: none

fix Contact mail links
  data/contact.md
Due: none

testing comment
  data/services/api.yml
Due: none

pass parameters to search-field
  components/search/forms/simple.jsx
Due: yarn format

intergrate search action into home
  pages/index.jsx
Due: yarn format

Update team.yml
  data/team.yml
Due: none

Update home.yml
  data/home.yml
Due: none

update Petr Knoth's role
  data/team.yml
Due: none

update endorsements section text on home page
  data/home.yml
Due: none

fix typos in team members roles
  data/team.yml
Due: none

add viktor-yakubiv's photo
  data/team.yml
  static/images/team/viktor-yakubiv.jpg
Due: none

simplify past team members data structure
  data/team.yml
  pages/about/index.jsx
Due: yarn format

create Documentation pages structure
  components/pages/documentation.jsx
  components/pages/index.js
  data/documentation.yml
  data/documentation/api.yml
  data/documentation/connector.yml
  data/documentation/dataset.yml
  data/documentation/discovery.yml
  data/documentation/fast-sync.yml
  data/documentation/recommender.yml
  data/documentation/repository-dashboard.yml
  pages/documentation/api.jsx
  pages/documentation/connector.jsx
  pages/documentation/dashboard.jsx
  pages/documentation/dataset.jsx
  pages/documentation/discovery.jsx
  pages/documentation/documentation.scss
  pages/documentation/fast-sync.jsx
  pages/documentation/index.jsx
  pages/documentation/recommender.jsx
  pages/documentation/repository-dashboard.jsx
Due: yarn format, prettier --write

change Documentation page structure
  components/pages/documentation.jsx
Due: yarn format

change documentation files from yml to md
  data/documentation/api.md
  data/documentation/connector.md
  data/documentation/dataset.md
  data/documentation/discovery.md
  data/documentation/fast-sync.md
  data/documentation/recommender.md
  data/documentation/repository-dashboard.md
  pages/documentation/api.jsx
  pages/documentation/connector.jsx
  pages/documentation/dataset.jsx
  pages/documentation/discovery.jsx
  pages/documentation/fast-sync.jsx
  pages/documentation/recommender.jsx
  pages/documentation/repository-dashboard.jsx
Due: yarn format

remove 'Join CORE' buttons from services page
  pages/services/index.jsx
Due: yarn format

move services md files to documentation directory
  data/documentation/api.md
  data/documentation/connector.md
  data/documentation/dataset.md
  data/documentation/discovery.md
  data/documentation/fast-sync.md
  data/documentation/recommender.md
  data/documentation/repository-dashboard.md
Due: none

create separate services documentation pages
  pages/documentation/connector.jsx
  pages/documentation/dataset.jsx
  pages/documentation/discovery.jsx
  pages/documentation/documentation.scss
  pages/documentation/fast-sync.jsx
  pages/documentation/recommender.jsx
  pages/documentation/repository-dashboard.jsx
Due: yarn format, prettier --write

change images
  data/services.yml
Due: none

change title
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

add testimonial
  data/services.yml
  pages/services/index.jsx
Due: yarn format

add signup section
  data/services.yml
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

add sign up component
  components/sign-up/index.jsx
  components/sign-up/sign-up.scss
  data/services.yml
  data/sign-up.yml
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

remove other info button
  components/pages/service.jsx
  components/sign-up/index.jsx
  data/sign-up.yml
Due: yarn format

center screenshot image
  components/pages/service.jsx
Due: yarn format

remove free package section from template
  components/pages/service.jsx
Due: yarn format

a
  components/bootstrap/_variables.scss
  components/layout/layout.scss
Due: prettier --write

fix layout
  components/layout/layout.scss
Due: prettier --write

add transparency to page layout
  components/bootstrap/_variables.scss
  components/layout/layout.scss
Due: prettier --write

fix background position
  components/bootstrap/_variables.scss
Due: prettier --write

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
