Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

minify unknown person icons
  static/images/icons/user-unknown1.svg
  static/images/icons/user-unknown2.svg
Due: none

change key value for rendering Testimonial component
  pages/endorsement.jsx
Due: yarn format

add testimonial from Microsoft
  data/endorsements.yml
  static/images/logos/microsoft.svg
  static/images/people/kuansanwang.jpg
Due: none

add new endorsements page
  pages/about/endorsements/all.jsx
Due: yarn format

add Discovery registration page
  data/services/discovery.yml
  data/services/register.yml
  pages/services/register.jsx
Due: yarn format

add countries list to registration form
  data/countries.yml
  pages/services/register.jsx
Due: yarn format

add basic discovery registration form
  data/countries.yml
  data/registration.yml
  data/services/register.yml
  pages/discovery/register.jsx
  pages/services/register.jsx
Due: yarn format

add endorsements filter component view
  components/endorsements-filter/index.jsx
  pages/about/endorsements/all.jsx
Due: yarn format

add and render tags for endorsements
  data/endorsements.yml
  pages/about/endorsements/all.jsx
Due: yarn format

WIP: verification page
  data/registration.yml
  pages/discovery/complete.jsx
  pages/discovery/register.jsx
  pages/discovery/verify.jsx
Due: yarn format

WIP: verification page
  data/registration.yml
  pages/discovery/verify.jsx
Due: yarn format

WIP: error with fetch and Node
  pages/discovery/verify.jsx
Due: yarn format

WIP: complete page and verify
  data/registration.yml
  pages/discovery/complete.jsx
  pages/discovery/verify.jsx
Due: yarn format

Update Data, Data, Data html title
  data/data.yml
Due: none

Restore original title to Data, Data, Data page and fix typo
  data/data.yml
Due: none

add fetch method to CORE API for token request
  pages/discovery/register.jsx
Due: yarn format

reword CORE Discovery text
  data/services.yml
  data/services/discovery.yml
Due: none

minor changes in Discovery's the bullet points
  data/services/discovery.yml
Due: none

improve Disovery text look, add installation instructions
  data/services/discovery.yml
Due: none

add screenshots to Discovery instructions
  data/services/discovery.yml
  static/images/help/discovery/browse.png
  static/images/help/discovery/developer-mode.png
  static/images/help/discovery/extensions.png
  static/images/help/discovery/load-extension.png
  static/images/help/discovery/success.png
Due: none

update screenshot of CORE Discovery
  data/services/discovery.yml
  static/images/screenshots/discovery.svg
Due: none

add note about extension in webstore
  data/services/discovery.yml
Due: none

fix typos in Discovery instructions
  data/services/discovery.yml
Due: none

remove the link to chrome://* because MD ignores it
  data/services/discovery.yml
Due: none

update CORE Discovery installation intructions
  data/services/discovery.yml
Due: none

fix email verification through API
  pages/discovery/register.jsx
Due: yarn format

add input data to fetch method
  pages/discovery/register.jsx
  pages/discovery/verify.jsx
Due: yarn format

add error message field on CORE Discovery registration page
  pages/discovery/register.jsx
Due: yarn format

updat badly formatted list on Discovery page
  data/services/discovery.yml
Due: none

upgrade packages
  yarn.lock
Due: none

add menu hover component
  components/header/index.jsx
  components/menu-hover/index.jsx
  components/menu-hover/menu-hover.scss
  package-lock.json
Due: yarn format, prettier --write

fix menu hover component
  components/menu-hover/index.jsx
  components/menu-hover/menu-hover.scss
Due: yarn format, prettier --write

fix mobile menu hover component
  components/header/index.jsx
  components/menu-hover/index.jsx
  components/menu-hover/menu-hover.scss
Due: yarn format, prettier --write

refactor menu-hover code
  components/header/index.jsx
  components/menu-hover/index.jsx
Due: yarn format

add menu-hover component for mobile devices
  components/header/index.jsx
  components/menu-hover-xs/index.jsx
  components/menu-hover/menu-hover.scss
Due: yarn format, prettier --write

add react-sizes npm module and inplement it to menu component
  components/header/index.jsx
  components/menu-hover/index.jsx
  package.json
  yarn.lock
Due: yarn format, prettier --write

add angle icons for mobile menu
  components/header/index.jsx
  components/menu-hover-xs/index.jsx
  components/menu-hover-xs/menu-hover-xs.scss
  components/menu-hover/index.jsx
  static/images/icons/angle-down.svg
  static/images/icons/angle-up.svg
Due: yarn format, prettier --write

add arrow change behavior on mobile menu
  components/menu-hover-xs/index.jsx
  components/menu-hover/index.jsx
Due: yarn format

add Menu label with arrow change behavior to mobile menu button
  components/header/index.jsx
  static/images/icons/angle-down-gray.svg
  static/images/icons/angle-up-gray.svg
Due: yarn format

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
