Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

improve named routing
  components/link.jsx
  core.config.yml
  core.routes.yml
  package.json
  router.js
Due: yarn format, prettier --write

improve link components
  components/content/content.jsx
  components/link.jsx
Due: yarn format

parse relative static file paths with router
  router.js
Due: yarn format

move static files to /static according to the Next.js guide
  data/faq.yml
  pages/index.jsx
  pages/index.scss
  static/images/api.svg
  static/images/brandi-redd-122054-unsplash.jpg
  static/images/globe.svg
  static/images/hall.svg
Due: yarn format, prettier --write

fix & improve bitbucket piplines
  bitbucket-pipelines.yml
Due: none

implement about page
  data/about.yml
  data/team.yml
  images/map.png
  pages/about.jsx
  pages/about/index.jsx
Due: yarn format

use camelized notation in about page
  pages/about/index.jsx
Due: yarn format

camelize keys of data-files
  next.config.js
  package.json
  webpack/.eslintrc.yml
  webpack/data-loader.js
  yarn.lock
Due: yarn format, prettier --write

fix accordion item spacing for collapsed component
  components/accordion/accordion.scss
Due: prettier --write

extract home page messages to data-file
  data/endorsements.yml
  data/home.yml
  pages/index.jsx
Due: yarn format

change spacing base to line-height base
  components/bootstrap/_variables.scss
Due: prettier --write

add global section spacing
  components/content/content.scss
Due: prettier --write

fix section spacing on about page
  pages/about/index.jsx
Due: yarn format

provide all design colors as SCSS-variables
  components/bootstrap/_variables.scss
Due: prettier --write

add homepage sections, spacing and colors
  pages/index.jsx
  pages/index.scss
Due: yarn format, prettier --write

create HighlightSection component
  components/highlight-section/highlight-section.scss
  components/highlight-section/index.jsx
Due: yarn format, prettier --write

add DataSet page
  data/dataset.yml
  pages/dataset.jsx
  static/images/dataset-1.svg
  static/images/dataset-2.svg
  static/images/dataset-3.svg
  static/images/map.png
Due: yarn format

fix dataset image urls
  data/dataset.yml
Due: none

improve eslint performance
  package.json
Due: prettier --write

adopt KeyFeature component for multiline text
  components/key-feature/index.jsx
Due: yarn format

improve header semantic, fix react key-prop error
  components/header/index.jsx
Due: yarn format

fix semantic html outline in footer
  components/footer/index.jsx
Due: yarn format

improve semantics of home page
  data/home.yml
  pages/index.jsx
Due: yarn format

add Data Providers page
  data/repos.yml
  pages/data-providers.jsx
Due: yarn format

add posibillity to import files from yaml
  next.config.js
  package.json
  yarn.lock
Due: yarn format, prettier --write

prevent error for null children for article nav
  components/content/article.jsx
Due: yarn format

implement pages and sections components
  components/pages/index.js
  components/pages/markdown.jsx
  components/pages/sectioned.jsx
  components/sections/description.jsx
  components/sections/index.js
  next.config.js
  package.json
  yarn.lock
Due: yarn format, prettier --write

add proper structure, generate all website pages
  core.config.yml
  core.routes.yml
  data/services.yml
  data/services/api.md
  data/services/connector.md
  data/services/dashboard.md
  data/services/datadumps.md
  data/services/recommender.md
  data/services/sdk.md
  pages/services/analytics-dashboard.jsx
  pages/services/api.jsx
  pages/services/connector.jsx
  pages/services/dataset.jsx
  pages/services/index.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
  pages/services/sdk.jsx
  router.js
Due: yarn format

implement privacy notice webpage
  core.routes.yml
  data/privacy.md
  pages/privacy.jsx
Due: yarn format

make all nav links accessible
  core.config.yml
  core.routes.yml
  data/faq.yml
Due: none

pass className to header and footer
  components/footer/index.jsx
  components/header/index.jsx
Due: yarn format

implement custom error component
  components/error.jsx
Due: yarn format

improve general layout
  components/pages/markdown.jsx
  components/pages/sectioned.jsx
  pages/_app.jsx
  pages/_document.js
  pages/about/index.jsx
  pages/data-providers.jsx
  pages/faq.jsx
  pages/index.jsx
  pages/services/dataset.jsx
  pages/services/repository-dashboard.jsx
Due: yarn format

clean Home page, remove old background
  pages/index.jsx
  pages/index.scss
Due: yarn format, prettier --write

pass general background to the all pages
  components/bootstrap/_variables.scss
  components/images/paper-background.jpg
Due: prettier --write

use custom error component
  pages/_error.jsx
Due: yarn format

implement general layout components
  components/layout/app.jsx
  components/layout/document.jsx
  components/layout/index.jsx
  components/layout/layout.jsx
  components/layout/layout.scss
Due: yarn format, prettier --write

clean-up component images
  components/images/backgrounds/brandi-redd-122054-unsplash.jpg
  components/images/backgrounds/debby-hudson-557741-unsplash.jpg
  components/images/backgrounds/joanna-kosinska-129039-unsplash.jpg
  components/images/backgrounds/rawpixel-558599-unsplash.jpg
Due: none

change accordion-item icon state, animate opening
  components/accordion/accordion.scss
  components/accordion/item.jsx
Due: yarn format, prettier --write

add onToggle callback to Accordion component
  components/accordion/index.jsx
Due: yarn format
