Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

Bump eslint-config-prettier from 6.6.0 to 6.7.0
  package.json
  yarn.lock
Due: prettier --write

Bump @babel/plugin-proposal-decorators from 7.4.4 to 7.7.0
  package.json
  yarn.lock
Due: prettier --write

Bump @babel/core from 7.6.2 to 7.7.2
  package.json
  yarn.lock
Due: prettier --write

Bump @babel/preset-env from 7.6.2 to 7.7.1
  package.json
  yarn.lock
Due: prettier --write

Bump leaflet from 1.5.1 to 1.6.0
  package.json
  yarn.lock
Due: prettier --write

Bump Packages (#143)
  package.json
  yarn.lock
Due: prettier --write

Fix rebase GA
  .github/workflows/rebase-content.yml
Due: none

Add LA Referencia logo
  data/endorsements.yml
  public/images/logos/laref.png
Due: none

Add the quote of Alberto Cabezas
  data/endorsements.yml
  public/images/people/alberto.jpg
Due: none

Fix testimonials display of Alberto Cabezas
  data/endorsements.yml
Due: none

Update the photo of Nick Sheppard
  data/endorsements.yml
  public/images/people/sheppard2.png
Due: none

Upload LA Ref logo
  public/images/logos/laref.png
Due: none

Remove react-leaflet
  package.json
  yarn.lock
Due: prettier --write

Bump packages (#155)
  package.json
  yarn.lock
Due: prettier --write

Remove legacy routes config
  core.routes.yml
Due: none

Add PMC LinkOut button to resources
  public/resources/pmc-linkout-button.png
Due: none

Remove legacy routes config (#80)
  core.routes.yml
Due: none

Add the quote of Alberto Cabezas (#154)
  data/endorsements.yml
  public/images/logos/laref.png
  public/images/people/alberto.jpg
  public/images/people/sheppard2.png
Due: none

Add filtering by repository URL to Data providers
  components/repositories-browser/index.jsx
Due: yarn format

Add statistics caching
  .gitignore
  webpack/data-loader.js
  webpack/statistics.json
Due: yarn format, prettier --write

Simplify cookie service behaviour
  pages/cookies.jsx
  services/cookies.js
Due: yarn format

Fix method on CookieForm
  components/cookies/form.jsx
Due: yarn format

Fix data-loader cache saving error
  webpack/data-loader.js
Due: yarn format

Update CookiesPopup design
  components/cookies/check.svg
  components/cookies/cookies.scss
  components/cookies/form.jsx
  components/cookies/popup.jsx
  components/cookies/settings.svg
  pages/_app.jsx
Due: yarn format, prettier --write

Add next-ga module for Google Analytics
  package.json
  pages/_app.jsx
  yarn.lock
Due: yarn format, prettier --write

Add new Google Analytics code for testing purposes
  pages/_app.jsx
  public/js/ga.js
Due: yarn format

Add cookies false condition
  pages/_app.jsx
Due: yarn format

Add cookies true condition
  pages/_app.jsx
Due: yarn format

Improve Google Analytics integration
  pages/_app.jsx
  public/js/ga.js
  services/cookies.js
Due: yarn format

Rename 'repository' with 'data provider'
  components/repositories-browser/index.jsx
Due: yarn format

Use next-ga module for Google Analytics (#157)
  package.json
  pages/_app.jsx
  public/js/ga.js
  services/cookies.js
  yarn.lock
Due: yarn format, prettier --write

Update size of textual data in core (/data)
  data/data.yml
Due: none

Specify engines
  package.json
Due: prettier --write

Specify engines (#172)
  package.json
Due: prettier --write

Add adaptable promo text
  public/resources/core-adaptable-promo-text-private.pdf
Due: none

Publish adaptable promotional text
  data/resources.yml
  public/images/resources/adaptable-promo-text.png
  public/resources/core-adaptable-promo-text.pdf
Due: none

Add new CORE ambassadors
  data/ambassadors.yml
Due: none

Order numbers above pictures at Ambassadors
  pages/about/ambassadors.jsx
Due: yarn format

Fix lint errors
  components/repositories-map/index.jsx
Due: yarn format

Upgrade dependencies
  yarn.lock
Due: none
