Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

disable deprecated jsx-a11y/label-has-for rule
  .eslintrc.yml
Due: none

add reference component
  components/index.js
  components/reference/index.jsx
  components/reference/reference.scss
Due: yarn format, prettier --write

add citationing functionality to research outputs
  data/research-outputs.yml
  pages/about/research-outputs.jsx
Due: yarn format

add citing components
  components/citation-tabs/citation-tabs.scss
  components/citation-tabs/index.js
  components/citation-tabs/manager.jsx
  components/citation-tabs/tab.jsx
  components/citation-tabs/text-loader.jsx
  components/citations-modal.jsx
  components/index.js
Due: yarn format, prettier --write

remove 'or' from error page actions bar
  components/error.jsx
Due: yarn format

intergate with ZEIT Now (CI/CD tool)
  .nowignore
  next.config.js
  now.json
  package.json
  yarn.lock
Due: yarn format, prettier --write

update service contextual icons to SVG format
  data/services/api.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  static/images/icons/analyse.svg
  static/images/icons/api.svg
  static/images/icons/big-data-4.svg
  static/images/icons/data.svg
  static/images/icons/discoverable.svg
  static/images/icons/extension.svg
  static/images/icons/factory.svg
  static/images/icons/fast.svg
  static/images/icons/finding.svg
  static/images/icons/installation.svg
  static/images/icons/machine.svg
  static/images/icons/manage.svg
  static/images/icons/oa-3.svg
  static/images/icons/paywall-2.svg
  static/images/icons/processing.svg
  static/images/icons/solving.svg
  static/images/icons/statistics.svg
  static/images/icons/sync.svg
  static/images/icons/update.svg
Due: none

update data page wording
  data/data.yml
Due: none

add and integrate broken-link-checker
  package.json
  yarn.lock
Due: prettier --write

integrate testing process to Travis CI
  .travis.yml
Due: none

fix broken links
  data/accessibility.md
  data/faq.yml
  data/home.yml
  data/privacy.md
Due: none

reword discovery page
  data/services/discovery.yml
Due: none

fix sorting of repositories with no name
  components/repositories-browser/index.jsx
Due: yarn format

change visible name of repositories with 'no name'
  components/repositories-browser/index.jsx
Due: yarn format

filter repositories with no or stupid name
  components/repositories-browser/index.jsx
Due: yarn format

add and integrate skip-to-content component
  components/layout/layout.jsx
  components/skip-to-content.jsx
Due: yarn format

use server target for production
  next.config.js
Due: yarn format

avoid flatMap 😥 - too new for Node and node-gyp
  components/reference/index.jsx
Due: yarn format

configure target with NEXT_TARGET env-variable
  next.config.js
  package.json
Due: yarn format, prettier --write

add FAQ about DOAJ harvesting
  data/faq.yml
Due: none

fix automatic scroll down on homepage
  pages/index.jsx
Due: yarn format

add flip card component to the team section
  components/index.js
  components/team-players/index.jsx
  components/team-players/team-players.scss
  pages/about/index.jsx
Due: yarn format, prettier --write

fix Travis build after upgrade to Next 8
  .travis.yml
Due: none

add document preview placeholder image
  static/images/document-placeholder.svg
Due: none

add Endorsements page like a list
  data/endorsements.yml
  pages/endorsement.jsx
  static/images/icons/user-unknown1.svg
  static/images/icons/user-unknown2.svg
Due: yarn format

add filter endorsements fields
  pages/endorsement.jsx
Due: yarn format

add margin to buttons in endorsements fields
  pages/endorsement.jsx
Due: yarn format

add tags for filter on endorsements page
  data/endorsements.yml
  pages/endorsement.jsx
Due: yarn format

add pills to tags for filter on endorsements page
  pages/endorsement.jsx
Due: yarn format

delete unknown person icons on endorsements page
  data/endorsements.yml
Due: none
