Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

implement join-us section
  components/images/blue-lights-bg.jpg
  components/sections/index.js
  components/sections/join.jsx
  components/sections/join.scss
Due: yarn format, prettier --write

add join-us section to the home page
  pages/index.jsx
Due: yarn format

upgrage bootstrap and reactstrap
  package.json
  yarn.lock
Due: prettier --write

fix key-feature size
  components/key-feature/key-feature.scss
Due: prettier --write

fix font-size of accordion title
  components/accordion/accordion.scss
Due: prettier --write

improve semantics of footer links
  components/footer/footer.scss
  components/footer/index.jsx
  data/core.yml
Due: yarn format, prettier --write

fix content spacing
  components/content/content.scss
Due: prettier --write

add bootstrap sections mixins
  components/bootstrap/_core.scss
  components/bootstrap/_mixins.scss
  components/bootstrap/_variables.scss
  components/bootstrap/mixins/_sections.scss
Due: prettier --write

universalize section backgrounds on homepage
  pages/index.jsx
  pages/index.scss
Due: yarn format, prettier --write

fix contact and endorsements routes
  core.routes.yml
Due: none

implement Blockquote component
  components/blockquote/blockquote.scss
  components/blockquote/index.jsx
  components/bootstrap/_type.scss
  components/bootstrap/bootstrap.scss
Due: yarn format, prettier --write

implement LogosCarousel component
  components/logos-carousel/index.jsx
  components/logos-carousel/logos-carousel.scss
Due: yarn format, prettier --write

implement Testimonial component
  components/testimonial.jsx
Due: yarn format

fix control-color for carousel indicators
  components/bootstrap/_variables.scss
Due: prettier --write

implement TestimonialsCarousel component
  components/bootstrap/_variables.scss
  components/testimonials-carousel/index.jsx
  components/testimonials-carousel/testimonials-carousel.scss
Due: yarn format, prettier --write

implement EndorsementsSection component
  components/sections/endorsements.jsx
  components/sections/endorsements.scss
Due: yarn format, prettier --write

implement Endorsements page
  data/endorsements.yml
  data/testimonials.yaml
  pages/about/endorsements.jsx
  pages/index.jsx
Due: yarn format

add new members to the team list
  data/team.yml
Due: none

update research outputs
  data/about.yml
Due: none

fix content children spacing
  components/content/content.scss
Due: prettier --write

add Fast Sync service page
  core.routes.yml
  data/core.yml
  data/services.yml
  data/services/fast-sync.md
  pages/services/fast-sync.jsx
Due: yarn format

add Discovery service page
  core.routes.yml
  data/core.yml
  data/services.yml
  data/services/discovery.md
  pages/services/discovery.jsx
Due: yarn format

fix headings case and name branding
  data/core.yml
  data/dataset.yml
  data/repos.yml
  data/services.yml
  data/services/connector.md
  data/services/repository-dashboard.md
Due: none

update lock file
  yarn.lock
Due: none

add travis support
  .travis.yml
Due: none

ignore 'tag' in prop types validation
  .eslintrc.yml
Due: none

add section sizes and spacing
  components/bootstrap/_variables.scss
  components/content/content.scss
  components/content/section.jsx
Due: yarn format, prettier --write

improve Logo component structure, use SVG
  components/logo.jsx
  components/logo/core-logo.svg
  components/logo/core-symbol.svg
  components/logo/index.jsx
  components/logo/logo.scss
Due: yarn format, prettier --write

fix logo spacing and color in navbar
  components/bootstrap/_navbar.scss
  components/bootstrap/_variables.scss
  components/header/index.jsx
Due: yarn format, prettier --write

fix spacing on home page, improve Hero component
  components/hero/hero.scss
  components/hero/index.jsx
  data/home.yml
  pages/index.jsx
Due: yarn format, prettier --write

restucture sections to pass containers implicitly
  components/content/article.jsx
  components/content/section.jsx
Due: yarn format

adapt components and pages to implicit container-passing
  components/error.jsx
  components/hero/index.jsx
  components/pages/markdown.jsx
  components/pages/sectioned.jsx
  components/sections/endorsements.jsx
  components/sections/join.jsx
Due: yarn format

remove explicit Container component usages from website pages
  pages/about/endorsements.jsx
  pages/about/index.jsx
  pages/dataset.jsx
  pages/faq.jsx
  pages/index.jsx
  pages/services/dashboard.jsx
Due: yarn format

implement AlphabetFilter component
  components/alphabet-filter/alphabet-filter.scss
  components/alphabet-filter/index.jsx
Due: yarn format, prettier --write

add spinners into bootstrap bundle
  components/bootstrap/bootstrap.scss
Due: prettier --write

implement Pagination component
  components/pagination/index.jsx
  components/pagination/pagination.scss
Due: yarn format, prettier --write

implement RepositoriesMap component
  components/repositories-map/index.jsx
Due: yarn format

implement RepositoriesSearch component
  components/repositories-search/index.jsx
Due: yarn format

implement RepositoriesBrowser component
  components/repositories-browser/index.jsx
  components/repositories-browser/repositories-browser.scss
  package.json
  yarn.lock
Due: yarn format, prettier --write

update Data Providers page with the new components
  data/data-providers.yml
  pages/data-providers.jsx
Due: yarn format

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
