Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

update about navigation menu
  data/core.yml
Due: none

link Ambassadors page from the About page
  data/team.yml
  pages/about/index.jsx
Due: yarn format

add Alexander to the team
  data/team.yml
  static/images/team/alexander-huba.png
Due: none

integrate OA links count
  data/data.yml
  static/images/cluster.svg
  static/images/coding.svg
  static/images/library.svg
Due: none

remove repositories map slicing
  components/repositories-map/index.jsx
Due: yarn format

Add new Ambassadors page
  data/ambassador.yml
  pages/about/about.scss
  pages/about/ambassador.jsx
  static/images/screenshots/ambassadors-atlas.png
Due: yarn format, prettier --write

Add CORE Ambassadors component
  components/core-ambassadors/core-ambassadors.scss
  components/core-ambassadors/index.jsx
  components/core-ambassadors/man.svg
  data/ambassador.yml
  pages/about/ambassador.jsx
  static/images/ambassadors/who.png
Due: yarn format, prettier --write

Add outreach materials component
  components/outreach-materials/index.jsx
  components/outreach-materials/outreach-materials.scss
  data/ambassador.yml
  pages/about/ambassador.jsx
  static/images/ambassadors/bcard.png
  static/images/ambassadors/brochure.png
  static/images/ambassadors/flyer.png
Due: yarn format, prettier --write

Add svg world map to the Ambassadors page
  data/ambassador.yml
  pages/about/ambassador.jsx
  static/images/ambassadors/world-map.svg
Due: yarn format

Add svg pin to the Ambassadors page
  data/ambassador.yml
  pages/about/ambassador.jsx
  static/images/ambassadors/map-pin.svg
  static/images/ambassadors/world-map.svg
Due: yarn format

Reduce height in outreach materials component
  components/outreach-materials/outreach-materials.scss
  static/images/ambassadors/bcard.png
  static/images/ambassadors/brochure.png
  static/images/ambassadors/flyer.png
Due: prettier --write

Recreate Core ambassadors section
  components/core-ambassadors/core-ambassadors.scss
  components/core-ambassadors/index.jsx
  components/core-ambassadors/man.svg
  data/ambassador.yml
  pages/about/about.scss
  pages/about/ambassador.jsx
  static/images/ambassadors/you.png
Due: yarn format, prettier --write

add basic map with pin
  pages/about/about.scss
  pages/about/ambassador.jsx
Due: yarn format, prettier --write

Add image to pin on ambassadors map
  pages/about/about.scss
  pages/about/ambassador.jsx
  static/images/ambassadors/map-pin.svg
Due: yarn format, prettier --write

Add bounce effect to pins on ambassadors page map
  data/ambassador.yml
  pages/about/about.scss
  pages/about/ambassador.jsx
Due: yarn format, prettier --write

remove Node.JS version from Travis config
  .travis.yml
Due: none

upgrade Node.JS version to latest LTS in Travis
  .travis.yml
Due: none

upgrade Travis' Node.JS to the latest version
  .travis.yml
Due: none

fix links at Ambassadors page
  data/ambassadors.md
Due: none

Add world map component to ambassadors page
  components/world-map-pin/index.jsx
  components/world-map-pin/world-map-pin.scss
  components/world-map/index.jsx
  components/world-map/world-map.scss
  pages/about/about.scss
  pages/about/ambassador.jsx
Due: yarn format, prettier --write

Add ambassadors description section
  data/ambassador.yml
  pages/about/ambassador.jsx
Due: yarn format

Add proper data structure for resources
  data/ambassador.yml
  pages/about/ambassador.jsx
  static/images/resources/bcard.png
  static/images/resources/brochure.png
  static/images/resources/flyer.png
Due: yarn format

Add proper data structure for ambassadors
  components/team-member/index.jsx
  data/ambassador.yml
  pages/about/ambassador.jsx
Due: yarn format

Fix issues with ambassador page
  components/outreach-materials/index.jsx
  pages/about/ambassador.jsx
Due: yarn format

Refactor CORE Ambassadors section
  components/team-member/index.jsx
  pages/about/ambassador.jsx
Due: yarn format

Refactor outreach materials section
  components/index.js
  data/ambassador.yml
  data/resources.yml
  pages/about/ambassador.jsx
Due: yarn format

Add ambassadors coordinates
  components/world-map-pin/index.jsx
  components/world-map/world-map.scss
  data/ambassador.yml
Due: yarn format, prettier --write

Add links to pins on ambassadors map
  components/world-map-pin/index.jsx
  components/world-map-pin/world-map-pin.scss
  components/world-map/world-map.scss
  data/ambassador.yml
  pages/about/ambassador.jsx
  static/images/ambassadors/vector-world-map-v2.2.jpg
  static/images/ambassadors/world-map.svg
Due: yarn format, prettier --write

Change coordinates for pins on ambassadors map
  components/world-map-pin/index.jsx
  components/world-map-pin/world-map-pin.scss
  components/world-map/index.jsx
  components/world-map/world-map.scss
  data/ambassador.yml
  pages/about/ambassadors.js
  pages/about/ambassadors.jsx
Due: yarn format, prettier --write

Change animation for pins on ambassadors map
  components/world-map-pin/world-map-pin.scss
Due: prettier --write

added FAQ on licenses
  data/faq.yml
Due: none

Change ambassadors map pin animation
  components/world-map-pin/world-map-pin.scss
Due: prettier --write

Refactor map components
  components/index.js
  components/maps/image-map/image-map.scss
  components/maps/image-map/index.jsx
  components/maps/image-map/map.svg
  components/maps/image-pin/image-pin.scss
  components/maps/image-pin/index.jsx
  components/maps/index.js
  components/world-map-pin/index.jsx
  components/world-map/index.jsx
  components/world-map/world-map.scss
  pages/about/ambassadors.jsx
Due: yarn format, prettier --write

Remove an extra map
  static/images/ambassadors/vector-world-map-v2.2.jpg
Due: none

Update pin z-position and background
  components/maps/image-pin/image-pin.scss
Due: prettier --write

Refactor map components (#78)
  components/index.js
  components/maps/image-map/image-map.scss
  components/maps/image-map/index.jsx
  components/maps/image-map/map.svg
  components/maps/image-pin/image-pin.scss
  components/maps/image-pin/index.jsx
  components/maps/index.js
  components/world-map-pin/index.jsx
  components/world-map/index.jsx
  components/world-map/world-map.scss
  pages/about/ambassadors.jsx
  static/images/ambassadors/vector-world-map-v2.2.jpg
Due: yarn format, prettier --write

update the FAQ about full-text removing
  data/faq.yml
Due: none

Avoid displaying undefined images for TeamMember pictures
  components/team-member/index.jsx
Due: yarn format

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
