Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

hide blockquote author picture on small screens
  components/blockquote/blockquote.scss
Due: prettier --write

add optional placeholder blockqoute avatar
  components/blockquote/blockquote.scss
  components/blockquote/man.svg
Due: prettier --write

fix font accents and loading
  components/bootstrap/_variables.scss
  components/bootstrap/bootstrap.scss
Due: prettier --write

fix font weight of services page headline
  pages/services/services.scss
Due: prettier --write

fix services page headline
  data/services.yml
Due: none

make action urls optional on service pages
  components/pages/service.jsx
Due: yarn format

make discovery service coming soon
  data/services/discovery.yml
Due: none

remove blog widget from small screens
  pages/about/index.jsx
Due: yarn format

render responsive images in markdown
  components/markdown.jsx
Due: yarn format

fix list display at repository dashboard page
  data/services/repository-dashboard.yml
Due: none

fix broken links in FAQs
  data/faq.yml
Due: none

update icon paths at repository dashboard
  data/services/repository-dashboard.yml
Due: none

add more people photos, comment some testimonials
  data/endorsements.yml
  static/images/people/dowson.jpeg
  static/images/people/manghi.jpeg
  static/images/people/sheppard.jpg
  static/images/people/sheppard.png
  static/images/people/smith.jpg
  static/images/people/walters.jpg
Due: none

add testimonial for recommender
  data/services/recommender.yml
Due: none

upload the new logo
  data/about.yml
  static/resources/core-logo-hires.png
  static/resources/core-logo.png
Due: none

develop button-toolbar component
  components/bootstrap/_button-group.scss
  components/bootstrap/bootstrap.scss
  components/button-toolbar.jsx
  components/index.js
Due: yarn format, prettier --write

intergrate button toolbar, fix button usages
  components/cookies/form.jsx
  components/error.jsx
  components/pages/service.jsx
  components/sections/endorsements.jsx
  components/sections/join.jsx
  components/switcher/index.jsx
Due: yarn format

use correct buttons, add toolbars to website
  pages/about/index.jsx
  pages/index.jsx
Due: yarn format

add a button-link to dataset page
  data/services/dataset.yml
Due: none

fix id notation on service page template
  components/pages/service.jsx
Due: yarn format

fix css conflicting order warnings
  components/alphabet-filter/index.jsx
  components/contact-form/index.jsx
  components/content/index.js
  components/cookies/index.js
  components/highlight-section/index.jsx
  components/index.js
  components/key-feature/index.jsx
  components/logos-carousel/index.jsx
  components/pages/index.js
  components/repositories-browser/index.jsx
  components/repositories-map/index.jsx
  components/sections/index.js
Due: yarn format

prevent default link behaviour in the navbar
  components/header/index.jsx
Due: yarn format

upload services screnshots
  data/services/discovery.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  static/images/screenshots/discovery.png
  static/images/screenshots/recommender.png
  static/images/screenshots/repository-dashboard.png
Due: none

add line section divider to Services page
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

fix mobile headings centering on service page
  components/pages/service.jsx
  components/pages/service.scss
Due: yarn format, prettier --write

provide screenshots of services
  data/services.yml
Due: none

typo in 'Learn more about Dashboard'
  data/services.yml
Due: none

make service screenshots and logos to be links
  pages/services/index.jsx
Due: yarn format

fix markdown links rendering
  components/markdown.jsx
Due: yarn format

fix mission route
  core.routes.yml
Due: none

fix links at FAQs page
  data/faq.yml
Due: none

add min-width to navbar-search-form
  components/search-navbar/search-navbar.scss
Due: prettier --write

improve footer partners layout
  components/footer/footer.scss
  components/footer/index.jsx
Due: yarn format, prettier --write

fix contact-us links
  data/contact.md
Due: none

remove join because of emptiness
  pages/join.jsx
Due: yarn format

sort team in alphabetical order
  data/team.yml
Due: none

add accessibility statement page
  core.routes.yml
  data/accessibility.md
  data/core.yml
  pages/accessibility.jsx
Due: yarn format

configure browser coverage
  .babelrc
  .browserslistrc
  browserslist-stats.json
  next.config.js
  package.json
  polyfills.js
  yarn.lock
Due: yarn format, prettier --write

upgrade packages
  yarn.lock
Due: none

remove duplicates from organizations on home page
  pages/about/endorsements.jsx
Due: yarn format

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
