Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

add SM's photo
  data/team.yml
  static/images/team/sm.svg
Due: none

add comma-separated-list to Bootstrap
  components/bootstrap/_lists.scss
  components/bootstrap/bootstrap.scss
Due: prettier --write

change the display of past members section
  pages/about/index.jsx
Due: yarn format

delete space between title navigation on About page
  pages/about/index.jsx
Due: yarn format

correct gramatical error on About page
  data/about.yml
Due: none

center content and change button on Whos using CORE
  pages/about/index.jsx
Due: yarn format

add icon to Whos using CORE
  data/about.yml
  pages/about/about.scss
  pages/about/index.jsx
Due: yarn format, prettier --write

add better repository map screenshot for Dataset page
  static/images/data-providers.png
Due: none

Change linking from home page Read more about how CORE is used... to link to the top headings instead of testimonials
  pages/index.jsx
Due: yarn format

add Team players component
  components/team-players/index.jsx
  components/team-players/team-players.scss
  data/team.yml
  pages/about/index.jsx
  static/images/team/team.png
Due: yarn format, prettier --write

change card style
  components/team-players/index.jsx
  components/team-players/team-players.scss
Due: yarn format, prettier --write

change Team image
  data/team.yml
  static/images/team/sm.png
  static/images/team/sm.svg
Due: none

change card button padding
  components/team-players/index.jsx
Due: yarn format

Remove Join button from About page, move the rest left side and outlined
  pages/about/index.jsx
Due: yarn format

Remove the Join CORE for free buttons from the overakll services page
  pages/services/index.jsx
Due: yarn format

for blockquotes that are just in the content of a page, have the text normal size, and add margin-top 2em
  pages/index.scss
Due: prettier --write

remove the name from carousel on Endorsements page
  components/testimonials-carousel/index.jsx
Due: yarn format

add event handler to Team card
  components/team-players/index.jsx
  components/team-players/team-players.scss
Due: yarn format, prettier --write

improve footer research outputs
  data/core.yml
Due: none

correct 'Who is using CORE' on About page
  data/about.yml
Due: none

center content on Who is using CORE
  pages/about/about.scss
Due: prettier --write

Update team.yml
  data/team.yml
Due: none

remove empty captions from the Article navigation
  components/content/article.jsx
Due: yarn format

add new icons to Whos using CORE section
  data/about.yml
  pages/about/index.jsx
  static/images/icons/factor.svg
  static/images/icons/factory.svg
  static/images/icons/university.svg
Due: yarn format

add new optimized svg icons
  static/images/icons/computer-programer.svg
  static/images/icons/data-center.svg
  static/images/icons/earth.svg
  static/images/icons/factore.svg
  static/images/icons/factory.svg
  static/images/icons/library.svg
  static/images/icons/partners.svg
  static/images/icons/powerful-chip.svg
  static/images/icons/toolbox.svg
  static/images/icons/university.svg
Due: none

change Dataset map image
  data/dataset.yml
  static/images/data-europe-map.png
  static/images/europe-map.png
Due: none

change Dataset map image again
  data/dataset.yml
  static/images/data-europe-map.png
  static/images/data-providers.png
  static/images/europe-map.png
Due: none

update data-providers map screenshot
  static/images/data-providers.png
Due: none

improve search form to pass props to children
  components/search/forms/simple.jsx
  components/search/index.jsx
Due: yarn format

improve HightlightSection responsive behaviour
  components/highlight-section/highlight-section.scss
Due: prettier --write

patch data-files with statistics
  package.json
  webpack/data-loader.js
  yarn.lock
Due: yarn format, prettier --write

allow html in markdown files
  components/content/content.jsx
Due: yarn format

add statistics pathing utils
  components/utils.js
Due: yarn format

provide statistics, fix text content
  data/about.yml
  data/data-providers.yml
  data/dataset.yml
  data/home.yml
  pages/about/index.jsx
  pages/data-providers.jsx
  pages/dataset.jsx
  pages/index.jsx
Due: yarn format

pretify about page data, clean-up blog
  data/about.yml
Due: none

reorder team members, update descriptions
  data/team.yml
Due: none

remove mistaken images directory
  images/map.png
Due: none

remove mistaken next.js config
  components/next.config.js
Due: yarn format

change links on homepage
  pages/index.jsx
Due: yarn format

delete stuff
  pages/index.jsx
Due: yarn format

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
