Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

fix gradient to paper background
  components/bootstrap/_variables.scss
Due: prettier --write

implement SearchNavbar component
  components/bootstrap/_variables.scss
  components/header/index.jsx
  components/search-navbar/index.jsx
  components/search-navbar/search-navbar.scss
Due: yarn format, prettier --write

integrate SearchNavbar into application
  components/header/index.jsx
  components/layout/layout.jsx
  data/core.yml
  pages/_app.jsx
Due: yarn format

update SM's photo
  data/team.yml
  static/images/team/sm.png
  static/images/team/sm.svg
Due: none

lay team member cards out horizontally
  pages/about/index.jsx
Due: yarn format

improve TeamMember component
  components/team-member/index.jsx
  components/team-member/team-member.scss
Due: yarn format, prettier --write

change paper background to unfixed
  components/bootstrap/_variables.scss
Due: prettier --write

change paper background width
  components/bootstrap/_variables.scss
Due: prettier --write

change paper background gradient
  components/bootstrap/_variables.scss
Due: prettier --write

limit max-width of Content
  components/content/content.scss
Due: prettier --write

implement separate Markdown component
  components/content/content.jsx
  components/index.js
  components/markdown.jsx
Due: yarn format

remove Connector section
  data/core.yml
  data/services.yml
Due: none

remove deprecated Content usage from all the pages
  pages/data-providers.jsx
  pages/dataset.jsx
  pages/faq.jsx
  pages/index.jsx
Due: yarn format

use Markdown component instead the Content
  components/footer/index.jsx
  components/pages/markdown.jsx
  components/pages/service.jsx
  components/sections/description.jsx
  components/sections/endorsements.jsx
  components/sections/join.jsx
  components/testimonial.jsx
Due: yarn format

fix width of search field
  components/search/index.jsx
Due: yarn format

remove Advanced search toggler
  components/search/index.jsx
Due: yarn format

remove Connector from the services list
  data/core.yml
  data/services.yml
Due: none

fix paper background options
  components/bootstrap/_variables.scss
Due: prettier --write

remove the name from carousel on Endorsements page
  components/testimonials-carousel/index.jsx
Due: yarn format

change page spacers
  components/bootstrap/_variables.scss
Due: prettier --write

fix missing blockquote avatar size variable
  components/bootstrap/_variables.scss
Due: prettier --write

fix accordion title spacing
  components/accordion/accordion.scss
Due: prettier --write

bring new structure to service pages
  data/services.yml
  data/services/api.yml
  data/services/connector.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fast-sync.yml
  data/services/free-package.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

make some data entries optional on Services page
  components/pages/service.jsx
  components/pages/service.scss
  pages/services/index.jsx
  static/images/logo.png
Due: yarn format, prettier --write

update enterprise-companies text
  data/endorsements.yml
Due: none

make sections spacing smaller
  components/bootstrap/_variables.scss
Due: prettier --write

fix page background
  components/bootstrap/_variables.scss
  components/layout/layout.scss
Due: prettier --write

wrap text on MarkdownPage into Content
  components/pages/markdown.jsx
Due: yarn format

wrap text into Content on Data-providers page
  pages/data-providers.jsx
Due: yarn format

remove names from TestimonialCarousel captions
  components/testimonials-carousel/index.jsx
Due: yarn format

update About page
  pages/about/index.jsx
Due: yarn format

fix About page buttons and Content
  pages/about/index.jsx
Due: yarn format

reduce Header height
  components/bootstrap/_variables.scss
Due: prettier --write

reduce max-width of container according to design
  components/bootstrap/_variables.scss
Due: prettier --write

make switcher-item's links accessible by pointer
  components/switcher/switcher.scss
Due: prettier --write

fix max-width of FAQs by using Content
  pages/faq.jsx
Due: yarn format

fix first heading top margin in Content
  components/content/content.scss
Due: prettier --write

fix footer spacing, add more propriate grid usage
  components/footer/footer.scss
  components/footer/index.jsx
Due: yarn format, prettier --write

fix max-width of content blockquotes
  components/content/content.scss
Due: prettier --write
