Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

remove redundand testimonials.yml
  data/testimonials.yaml
Due: none

update dataset page content
  data/services/dataset.yml
Due: none

updated fast-sync page content
  data/services/fast-sync.yml
Due: none

update home page content
  data/home.yml
Due: none

update endorsements page
  data/endorsements.yml
  static/images/logos/bl.png
  static/images/logos/cambridge.jpg
  static/images/logos/coar.png
  static/images/logos/doaj.jpg
  static/images/logos/foster.png
  static/images/logos/gloucester.jpg
  static/images/logos/huddersfield.png
  static/images/logos/iiasa.jpg
  static/images/logos/intoolab.png
  static/images/logos/irus.png
  static/images/logos/leeds.png
  static/images/logos/lshtm.jpg
  static/images/logos/middlesex.png
  static/images/logos/nulan.svg
  static/images/logos/oabutton.png
  static/images/logos/okm.png
  static/images/logos/opendoar.png
  static/images/logos/orcid.png
  static/images/logos/rioxx.jpeg
  static/images/logos/saintmary.jpg
  static/images/logos/scilit.png
  static/images/logos/sheffield.png
  static/images/logos/stjohn.png
  static/images/logos/strathclyde.png
  static/images/logos/trieste.png
  static/images/logos/uclan.png
  static/images/logos/uwl.jpeg
  static/images/logos/york.png
  static/images/logos/zurich.png
  static/images/people/botev.jpg
  static/images/people/joe.jpg
  static/images/people/johnson.jpg
  static/images/people/macgregor.png
  static/images/people/scottchamberlain.jpg
  static/images/people/sejin.png
  static/images/people/sheppard.jpg
  static/images/people/tennant.png
Due: none

update data page content
  data/dataset.yml
Due: none

fix typos and url on about page
  data/about.yml
Due: none

update data providers page wording
  data/data-providers.yml
Due: none

update wording of contact info
  data/contact.md
Due: none

fix endorsements section testimonials
  components/sections/endorsements.jsx
Due: yarn format

implement Head component
  components/layout/head.jsx
  components/layout/index.jsx
  components/layout/layout.jsx
Due: yarn format

develop Page component
  components/index.js
  components/page/index.js
  components/page/page.jsx
  components/page/page.scss
Due: yarn format, prettier --write

integrate page with components
  components/pages/markdown.jsx
  components/pages/sectioned.jsx
  components/pages/service.jsx
Due: yarn format

integrate page component with all the pages
  pages/about/endorsements.jsx
  pages/about/index.jsx
  pages/about/research-outputs.jsx
  pages/cookies.jsx
  pages/data/index.jsx
  pages/data/providers.jsx
  pages/faq.jsx
  pages/index.jsx
  pages/join.jsx
Due: yarn format

improve service pages data entries
  data/services/api.yml
  data/services/connector.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fast-sync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

use 'main' as content on service pages
  components/pages/service.jsx
Due: yarn format

remove redundant free-package data
  data/faq.yml
  data/services/free-package.yml
  pages/services/api.jsx
  pages/services/connector.jsx
  pages/services/discovery.jsx
  pages/services/fast-sync.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
Due: yarn format

provide descriptions to most of pages
  data/about.yml
  data/cookies.yml
  data/data-providers.yml
  data/endorsements.yml
  data/faq.yml
  data/home.yml
Due: none

remove redundant tools data file
  data/tools.yml
Due: none

improve data page structure, rename data file
  data/data.yml
  pages/data/index.jsx
Due: yarn format

provide better titles to documentation pages
  data/documentation/api.md
  data/documentation/connector.md
  data/documentation/discovery.md
  data/documentation/fast-sync.md
  data/documentation/recommender.md
  data/documentation/repository-dashboard.md
Due: none

add favicon
  components/layout/head.jsx
  static/favicon/favicon-128px.png
  static/favicon/favicon-256px.png
  static/favicon/favicon-32px.png
  static/favicon/favicon-512px.png
  static/favicon/favicon-64px.png
  static/favicon/favicon.svg
Due: yarn format

improve services page, update headline
  data/services.yml
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

improve harvesting section on about page
  data/about.yml
  pages/about/index.jsx
Due: yarn format

pass href to nav dropdown togglers
  components/header/index.jsx
Due: yarn format

restore dataset service page
  pages/services/dataset.jsx
Due: yarn format

add disclaimer to dataset service page
  data/services/dataset.yml
Due: none

add search route
  core.routes.yml
Due: none

fix repositories search urls and key warnings
  components/repositories-browser/index.jsx
Due: yarn format

fix cookies form react warning keys
  components/cookies/form.jsx
Due: yarn format

add naviagtion to data providers page
  pages/data/providers.jsx
Due: yarn format

make services actions editable on about page
  data/about.yml
  pages/about/index.jsx
Due: yarn format

add Svetlana and Maria to the team
  data/team.yml
  static/images/team/svetlana-rumyanceva.jpg
Due: none

rename fast-sync to fastsync
  core.routes.yml
  data/core.yml
  data/documentation/fastsync.md
  data/services.yml
  data/services/fastsync.yml
  pages/documentation/fastsync.jsx
  pages/services/fastsync.jsx
Due: yarn format

support links without href
  components/link.jsx
Due: yarn format

populate related services urls for service pages
  data/services/api.yml
  data/services/connector.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fastsync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

add service cross-reference links
  components/pages/service.jsx
Due: yarn format

support linkable key-features with href passed
  components/key-feature/index.jsx
  components/key-feature/key-feature.scss
Due: yarn format, prettier --write

fix repository search url
  components/repositories-browser/index.jsx
Due: yarn format

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
