Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

fix KeyFeature-s text bottom spacing
  components/key-feature/key-feature.scss
Due: prettier --write

update service page layout and spacing
  components/pages/service.jsx
  components/pages/service.scss
Due: yarn format, prettier --write

create cookies data-file
  data/cookies.yml
Due: none

develop Cookie* components
  components/bootstrap/_variables.scss
  components/cookies/cookies.scss
  components/cookies/form.jsx
  components/cookies/index.js
  components/cookies/popup.jsx
Due: yarn format, prettier --write

develop cookies service, install js-cookie
  package.json
  services/cookies.js
  services/index.js
  yarn.lock
Due: yarn format, prettier --write

integrate cookies into the app, add cookies page
  core.routes.yml
  pages/_app.jsx
  pages/_cookies.js
  pages/cookies.jsx
  static/js/ga.js
Due: yarn format

merge cookies utils into page to fix exporting
  pages/_app.jsx
  pages/_cookies.js
  pages/cookies.jsx
Due: yarn format

fix essential cookies list title
  data/cookies.yml
Due: none

make service actions optional
  components/pages/service.jsx
Due: yarn format

import CSS in the module file
  components/accordion/index.jsx
  components/accordion/item.jsx
  components/blockquote/index.jsx
  components/cookies/form.jsx
  components/footer/index.jsx
  components/header/index.jsx
  components/hero/index.jsx
  components/index.js
  components/layout/layout.jsx
  components/logo/index.jsx
  components/pages/index.js
  components/pages/service.jsx
  components/sections/endorsements.jsx
  components/sections/index.js
  components/sections/join.jsx
  components/switcher/index.jsx
Due: yarn format

update services with better actions
  data/services/api.yml
  data/services/connector.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fast-sync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
Due: none

prefer general import
  pages/_app.jsx
  pages/about/endorsements.jsx
  pages/about/index.jsx
  pages/about/research-outputs.jsx
  pages/cookies.jsx
  pages/data-providers.jsx
  pages/dataset.jsx
  pages/index.jsx
Due: yarn format

fix react key warnings in blog posts list
  components/blog.jsx
Due: yarn format

improve components general exports
  components/index.js
  components/sections/index.js
Due: yarn format

fix cookie components props usage
  pages/_app.jsx
  pages/cookies.jsx
Due: yarn format

add browse link to footer
  core.routes.yml
  data/core.yml
Due: none

fix about page styles and markdown usages
  pages/about/index.jsx
Due: yarn format

fix autofocus search input
  pages/index.jsx
Due: yarn format

fix research-outputs link
  core.routes.yml
Due: none

add more activePath and showSearch props to Layout
  components/header/index.jsx
  components/layout/layout.jsx
Due: yarn format

hide search bar from header at home page
  pages/_app.jsx
Due: yarn format

add label for main search field
  components/search/forms/simple.jsx
Due: yarn format

rename dataset to data, restructure data section
  core.routes.yml
  data/home.yml
  pages/about/index.jsx
  pages/data/index.jsx
  pages/data/providers.jsx
  pages/services/dataset.jsx
Due: yarn format

improve routes matcher
  router.js
Due: yarn format

improve primary color value
  components/bootstrap/_variables.scss
Due: prettier --write

add logos for each service
  components/pages/service.scss
  data/services.yml
  data/services/api.yml
  data/services/connector.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fast-sync.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  pages/services/services.scss
  static/images/services/analytics.svg
  static/images/services/api.svg
  static/images/services/dataset.svg
  static/images/services/discovery.svg
  static/images/services/fastsync.svg
  static/images/services/publisher-connector.svg
  static/images/services/recommender.svg
  static/images/services/repository-dashboard.svg
  static/images/services/sdk.svg
  static/images/services/search.svg
Due: prettier --write

open links on data page in the same window
  pages/data/index.jsx
Due: yarn format

clean extra text up in faqs
  pages/faq.jsx
Due: yarn format

develop ServiceGroupCard component
  components/index.js
  components/service-group-card/index.jsx
  components/service-group-card/service-group-card.scss
Due: yarn format, prettier --write

develop ServiceGroups component
  components/index.js
  components/service-groups/index.jsx
  components/service-groups/service-groups.scss
Due: yarn format, prettier --write

add short descriptions for each service
  data/services.yml
Due: none

add service groups to about page
  data/tools.yml
  pages/about/index.jsx
Due: yarn format

update recommender page content
  data/services/recommender.yml
Due: none

update api page content
  data/services/api.yml
Due: none

update dataset documentation
  data/documentation/dataset.md
Due: none

remove Zdenek Zdrahal from the team
  data/team.yml
Due: none

update discovery page content
  data/services/discovery.yml
Due: none

update services page content
  data/services.yml
Due: none

make screenshot caption optional
  components/pages/service.jsx
Due: yarn format

update repository-dashboard page content
  data/services/repository-dashboard.yml
Due: none
