Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

improve services page layout
  data/services.yml
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

add repositories browser section title
  data/data-providers.yml
  pages/data-providers.jsx
Due: yarn format

use new internal API endpoint
  components/repositories-map/index.jsx
  pages/data-providers.jsx
Due: yarn format

improve reposotories-browser search config
  components/repositories-browser/index.jsx
Due: yarn format

improve repositories list output with cards
  components/repositories-browser/index.jsx
  components/repositories-browser/repositories-browser.scss
Due: yarn format, prettier --write

implement ServicePage component
  components/pages/index.js
  components/pages/service.jsx
  components/pages/service.scss
Due: yarn format, prettier --write

provide key titles to ServicePage component
  components/pages/service.jsx
Due: yarn format

provide service pages templates
  data/services/api.yml
  data/services/connector.yml
  data/services/dataset.yml
  data/services/discovery.yml
  data/services/fast-sync.yml
  data/services/free-package.yml
  data/services/recommender.yml
  data/services/repository-dashboard.yml
  pages/services/api.jsx
  pages/services/connector.jsx
  pages/services/dataset.jsx
  pages/services/discovery.jsx
  pages/services/fast-sync.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
  static/images/logo.png
  static/images/screenshot.png
Due: yarn format

add Free-package page
  core.routes.yml
  data/free-package-page.yml
  pages/free-package.jsx
  pages/free-package.scss
Due: yarn format, prettier --write

fix Free-package page names
  pages/free-package.jsx
  pages/free-package.scss
Due: yarn format, prettier --write

delete routes
  core.routes.yml
Due: none

replace files
  pages/packages/free.jsx
  pages/packages/free.scss
Due: yarn format, prettier --write

Revert "delete routes"
  core.routes.yml
Due: none

change images
  data/services.yml
Due: none

change title
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

add testimonial
  data/services.yml
  pages/services/index.jsx
Due: yarn format

add signup section
  data/services.yml
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

add sign up component
  components/sign-up/index.jsx
  components/sign-up/sign-up.scss
  data/services.yml
  data/sign-up.yml
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

remove join core buttons
  pages/services/index.jsx
Due: yarn format

remove other info button
  components/pages/service.jsx
  components/sign-up/index.jsx
  data/sign-up.yml
Due: yarn format

center screenshot image
  components/pages/service.jsx
Due: yarn format

remove free package section from template
  components/pages/service.jsx
Due: yarn format

fix the all headings case and branding
  data/about.yml
  data/core.yml
  data/data-providers.yml
  data/dataset.yml
  data/endorsements.yml
  data/research-outputs.yml
  data/services.yml
  data/services/connector.yml
  data/services/fast-sync.md
  data/services/fast-sync.yml
  data/services/repository-dashboard.yml
Due: none

add action to image at HighlightSection component
  components/highlight-section/highlight-section.scss
  components/highlight-section/index.jsx
Due: yarn format, prettier --write

update Data, data, data page
  data/dataset.yml
  pages/dataset.jsx
  static/images/data-providers.png
Due: yarn format

link Join CORE from Homepage to Services page
  components/sections/join.jsx
Due: yarn format

change RepositoriesBrowser filter placeholder
  components/repositories-browser/index.jsx
Due: yarn format

replace the form with guidelines
  data/contact.md
  pages/about/index.jsx
Due: yarn format

update the name of access-to-the-raw-data services group
  data/core.yml
  data/services.yml
Due: none

remove direct links to testimonials
  pages/index.jsx
Due: yarn format

align Data-providers action links to left side
  pages/data-providers.jsx
Due: yarn format

update name of Joining CORE FAQ section
  data/faq.yml
Due: none

add the first draft for API service
  data/services/api.yml
Due: none

add the first draft for Publisher connector service
  data/services/connector.yml
Due: none

add the first draft for Data, data, data page
  data/services/dataset.yml
Due: none

add the first draft and screenshot for Discovery service
  data/services/discovery.yml
  static/images/space.jpg
Due: none

add the first draft for Repoository dashboard service
  data/services/repository-dashboard.yml
Due: none

add the first draft for FastSync service
  data/services/fast-sync.yml
Due: none

add the first draft for Recommender service
  data/services/recommender.yml
Due: none
