Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

prevent caption prop leaking to DOM
  components/content/article.jsx
Due: yarn format

fixed section passing
  components/content/section.jsx
Due: yarn format

fix react-warning-keys in container-passing algorithm
  components/content/section.jsx
Due: yarn format

fix props passing in TestimonialsSection
  pages/index.jsx
Due: yarn format

fix address alignment
  pages/about/index.jsx
Due: yarn format

add collapsing contact-form card
  pages/about/about.scss
  pages/about/index.jsx
Due: yarn format, prettier --write

implement ContactForm component
  components/contact-form/contact-form.scss
  components/contact-form/index.jsx
Due: yarn format, prettier --write

update join-section content
  data/home.yml
Due: none

add video about us
  data/about.yml
  pages/about/index.jsx
Due: yarn format

add endorsement section to about page
  data/about.yml
  pages/about/about.scss
  pages/about/index.jsx
Due: yarn format, prettier --write

improve about page data strucutre
  data/about.yml
  pages/about/index.jsx
Due: yarn format

implement Button component
  components/elements/button.jsx
  components/elements/index.js
  components/elements/link.jsx
  components/index.js
Due: yarn format

fix link to data providers
  pages/about/index.jsx
Due: yarn format

extract research outputs to separate page
  data/about.yml
  data/research-outputs.yml
  pages/about/index.jsx
  pages/about/research-outputs.jsx
Due: yarn format

fix links on about page
  data/about.yml
  pages/about/index.jsx
Due: yarn format

implement ResentBlogPosts (aka Blog) component
  components/blog.jsx
Due: yarn format

use Blog component, fix resent blog posts
  pages/about/index.jsx
Due: yarn format

implement RepositoriesMap component
  components/repositories-map/index.jsx
  components/repositories-map/marker.svg
  components/repositories-map/repositories-map.scss
  next.config.js
  package.json
  yarn.lock
Due: yarn format, prettier --write

implement RepositoryMap component
  pages/about/index.jsx
  pages/data-providers.jsx
Due: yarn format

improve fetching of repositories
  components/repositories-browser/index.jsx
  components/repositories-browser/repositories-browser.scss
Due: yarn format, prettier --write

implement Switcher.Content component
  components/switcher/index.jsx
  components/switcher/switcher.scss
Due: yarn format, prettier --write

provide more content to homepage
  data/home.yml
  pages/index.jsx
  pages/index.scss
Due: yarn format, prettier --write

add Join page placeholder
  data/join.yml
  pages/join.jsx
Due: yarn format

fix join section padding in the bottom
  components/sections/join.scss
Due: prettier --write

restyling services page
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

change services page
  pages/services/index.jsx
  pages/services/index.jsx.old
  pages/services/services.scss
Due: yarn format, prettier --write

change page structure
  data/services.yml
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

add join core table
  data/services.yml
  pages/services/index.jsx
Due: yarn format

delete table
  data/services.yml
  pages/services/index.jsx
Due: yarn format

change responsive behavior
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

delete row
  pages/services/index.jsx
Due: yarn format

fix layout
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

clenup old file
  pages/services/index.jsx.old
Due: none

fix title alignment
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

fix button centering
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write

fix title alignment
  pages/services/services.scss
Due: prettier --write

fix headign level
  pages/services/index.jsx
Due: yarn format

fix title alignment for odd
  pages/services/services.scss
Due: prettier --write

renaming
  pages/services/index.jsx
Due: yarn format

add second button
  pages/services/index.jsx
  pages/services/services.scss
Due: yarn format, prettier --write
