Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

change URL when open FAQ
  data/faq.yml
  pages/faq.jsx
Due: yarn format

add aliases for `components` and `data` directories
  .eslintrc.yml
  next.config.js
  package.json
  yarn.lock
Due: yarn format, prettier --write

simplify imports of components and data files
  pages/_app.jsx
  pages/_document.js
  pages/_error.jsx
  pages/data-providers.jsx
  pages/faq.jsx
  pages/index.jsx
  pages/index.scss
  pages/privacy.jsx
  pages/services/analytics-dashboard.jsx
  pages/services/api.jsx
  pages/services/connector.jsx
  pages/services/dataset.jsx
  pages/services/recommender.jsx
  pages/services/repository-dashboard.jsx
  pages/services/sdk.jsx
Due: yarn format, prettier --write

fix color and layout in Safari
  components/bootstrap/_variables.scss
  components/layout/layout.scss
Due: prettier --write

add change callback and config to switcher, image buttons
  components/switcher/index.jsx
  components/switcher/switcher.scss
Due: yarn format, prettier --write

fix footer colors, semantic; add info and logos
  components/footer/footer.scss
  components/footer/index.jsx
  static/images/logos/jisc.svg
Due: yarn format, prettier --write

implement auto-switching on interval
  components/switcher/index.jsx
Due: yarn format

add testimonials auto-switch to home page
  pages/index.jsx
Due: yarn format

add fields to advanced search
  components/search/forms/advanced.jsx
Due: yarn format

add missing fields to advanced search
  components/search/forms/advanced.jsx
Due: yarn format

fix article-nav left-right spacing
  components/content/article.jsx
  components/content/content.scss
Due: yarn format, prettier --write

update about page content
  data/about.yml
Due: none

update services page content
  data/services.yml
Due: none

fix services content file formatting
  data/services.yml
Due: none

add datasets page
  data/services/dataset.md
  pages/dataset.jsx
  pages/services/dataset.jsx
Due: yarn format

move core.config.yaml to data/core.yml
  components/layout/app.jsx
  components/layout/index.jsx
  components/layout/layout.jsx
  data/core.yml
  pages/_app.jsx
Due: yarn format

fix key links on homepage
  data/home.yml
Due: none

remove analytics-dashboard page
  data/services.yml
  data/services/repository-dashboard.md
  pages/services/analytics-dashboard.jsx
  pages/services/dashboard.jsx
  pages/services/repository-dashboard.jsx
Due: yarn format

add team pictures
  data/team.yml
  pages/about/index.jsx
  static/images/team/bikash-gyawali.jpg
  static/images/team/david-pride.jpg
  static/images/team/drahomira-herrmannova.jpg
  static/images/team/lucas-anastasiou.jpg
  static/images/team/matteo-cancellieri.jpg
  static/images/team/nancy-pontika.jpg
  static/images/team/petr-knoth.jpg
  static/images/team/samuel-pearce.jpg
  static/images/team/zdenek-zdrahal.jpg
Due: yarn format

fix imports in About page
  pages/about/index.jsx
Due: yarn format

implement TeamMember component
  components/team-member/index.jsx
  components/team-member/man.svg
  components/team-member/team-member.scss
Due: yarn format, prettier --write

remove SDK page
  data/core.yml
  data/services.yml
  data/services/sdk.md
  pages/services/sdk.jsx
Due: yarn format

improve footer content editability
  components/footer/index.jsx
  components/layout/layout.jsx
  core.config.yml
Due: yarn format

fix routes, provide links to all services
  core.routes.yml
  data/core.yml
  data/services.yml
Due: none

fix typos on recommender page
  data/services/recommender.md
Due: none

update connector page content
  data/services/connector.md
Due: none

add reasearch-outputs section content on about page
  data/about.yml
Due: none

add subsections to FAQs page
  data/faq.yml
  pages/faq.jsx
Due: yarn format

remove duplicate Dataset page
  data/services/datadumps.md
Due: none

fix heading levels in markdown pages
  data/services/api.md
  data/services/dataset.md
Due: none

extend Hero component from a Section
  components/hero/hero.scss
  components/hero/index.jsx
Due: yarn format, prettier --write

update Hero text on home page
  data/home.yml
Due: none

fix APIs page markup in Usages section
  data/services/api.md
Due: none

fix full mission markup
  data/about.yml
Due: none

fix fonts and spacing according to the design
  components/bootstrap/_variables.scss
  components/content/content.jsx
  components/content/content.scss
  components/key-feature/key-feature.scss
Due: yarn format, prettier --write

added resources, made text italics
  data/about.yml
Due: none

updated team list
  data/team.yml
Due: none

pass additional classnames to content
  components/content/content.jsx
Due: yarn format

fix link hover color
  components/bootstrap/_variables.scss
Due: prettier --write
