Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Enable role-less Blockquote authors
  components/blockquote/index.jsx
Due: yarn format

Enable endorsements without affiliation
  pages/about/endorsements.jsx
Due: yarn format

Add Claus Wolf to Endorsements page
  data/endorsements.yml
  public/images/people/claus-wolf.png
Due: none

Fix lint errors
  components/repositories-map/index.jsx
Due: yarn format

Upgrade dependencies
  yarn.lock
Due: none

Delete word - raw on Data page
  data/data.yml
Due: none

Add ambassadors' photos, sort by name
  data/ambassadors.yml
  public/images/people/albogast-musabila.jpg
  public/images/people/comfort-maeresera.jpg
  public/images/people/joel-nakitare.jpeg
  public/images/people/josiline-chigwada.jpg
  public/images/people/mayank-trivedi.jpg
  public/images/people/md-sohail.jpg
  public/images/people/serhii-nazarovets.jpg
  public/images/people/shaharima-parvin.jpg
  public/images/people/shakil-ahmad.jpg
  public/images/people/souleymane-sogoba.jpg
  public/images/people/wulystan-pius-mtega.png
Due: none

Sort ambassadors by country and name
  pages/about/ambassadors.jsx
Due: yarn format

Add Faheem Ahmadr's profile, Muriel Reigersberg's photo
  data/ambassadors.yml
  public/images/people/faheem-ahmad.jpg
  public/images/people/muriel-swijghuisen-reigersberg.jpg
Due: none

Optimise people photos
  public/images/people/alberto.jpg
  public/images/people/albogast-musabila.jpg
  public/images/people/barbora.png
  public/images/people/botev.jpg
  public/images/people/claus-wolf.png
  public/images/people/comfort-maeresera.jpg
  public/images/people/faheem-ahmad.jpg
  public/images/people/gloria.png
  public/images/people/joe.jpg
  public/images/people/joel-nakitare.jpeg
  public/images/people/johnson.jpg
  public/images/people/josiline-chigwada.jpg
  public/images/people/kuansanwang.jpg
  public/images/people/macgregor.png
  public/images/people/manghi.jpeg
  public/images/people/mayank-trivedi.jpg
  public/images/people/md-sohail.jpg
  public/images/people/milica.jpg
  public/images/people/muriel-swijghuisen-reigersberg.jpg
  public/images/people/scottchamberlain.jpg
  public/images/people/sejin.png
  public/images/people/serhii-nazarovets.jpg
  public/images/people/shaharima-parvin.jpg
  public/images/people/shakil-ahmad.jpg
  public/images/people/sheppard.png
  public/images/people/sheppard2.png
  public/images/people/smith.jpg
  public/images/people/souleymane-sogoba.jpg
  public/images/people/tennant.png
  public/images/people/walters.jpg
  public/images/people/walters.png
  public/images/people/wulystan-pius-mtega.png
Due: none

Remove Uganda region
  data/ambassadors.yml
Due: none

Update ambassadors' pictures, add Tanveer Haider Naqvi
  data/ambassadors.yml
  public/images/people/maya-senko.jpg
  public/images/people/phillip-ndhlovu.jpg
  public/images/people/shamprasad-pujar.jpg
  public/images/people/tanveer-haider-naqvi.jpg
Due: none

Officially publish REF audit
  data/ref-audit.md
Due: none

Make Now builds public
  now.json
Due: prettier --write

Move Sergei Misak to past team members
  data/team.yml
  public/images/team/sm.png
Due: none

Improve pagination behaviour on Data providers page
  components/repositories-browser/index.jsx
Due: yarn format

Disable map zooming using mouse wheel
  components/repositories-map/index.jsx
Due: yarn format

Bump packages [March] (#202)
  package.json
  yarn.lock
Due: prettier --write

Migrate to npm
  package-lock.json
  yarn.lock
Due: prettier --write

Use @oacore/configs
  .eslintrc.yml
  .npmrc
  .prettierrc.yml
  package-lock.json
  package.json
  prettier.config.js
Due: yarn format, prettier --write

Update README.md
  .github/workflows/pull-request-check.yml
  README.md
  now.json
Due: prettier --write

Update npm commands
  package.json
Due: prettier --write

Add new line between propTypes & defaultProps
  components/accordion/index.jsx
  components/accordion/item.jsx
  components/alphabet-filter/index.jsx
  components/content/article.jsx
  components/switcher/index.jsx
Due: yarn format

Remove AlphabetFilter
  components/alphabet-filter/alphabet-filter.scss
  components/alphabet-filter/index.jsx
Due: yarn format, prettier --write

Fix search box
  components/search-navbar/search-navbar.scss
Due: prettier --write

Adds deduplication dataset listing
  data/documentation/dataset.md
Due: none

content -> master (#205)
  data/documentation/dataset.md
Due: none

Remove AlphabetFilter (#204)
  components/alphabet-filter/alphabet-filter.scss
  components/alphabet-filter/index.jsx
Due: yarn format, prettier --write

Bump Github Actions
  .github/workflows/pull-request-check.yml
  .github/workflows/rebase-content.yml
Due: none

Setup username & email for rebase action
  .github/workflows/rebase-content.yml
Due: none

updated info for Dashboard
  data/ref-audit.md
Due: none

updated info for Dashboard (#207)
  data/ref-audit.md
Due: none

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
