Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

implement accordion semantics and styles
  .eslintrc.yml
  components/accordion.jsx
  components/accordion/accordion.scss
  components/accordion/index.jsx
  components/accordion/item.jsx
  components/bootstrap/_variables.scss
  components/icons/chevron-top.svg
  package.json
  yarn.lock
Due: yarn format, prettier --write

add yaml import support
  next.config.js
  package.json
  yarn.lock
Due: yarn format, prettier --write

populate simple head
  components/layout.jsx
Due: yarn format

implement basic header with sitemap
  components/header.jsx
  components/layout.jsx
  components/logo.jsx
  sitemap.yml
Due: yarn format

improve header - add sectioned menu
  components/header.jsx
  sitemap.yml
Due: yarn format

convert sitemap to global config
  components/layout.jsx
  core.config.yml
  sitemap.yml
Due: yarn format

fix nav sections rendering
  components/header.jsx
Due: yarn format

implement basic footer
  components/footer.jsx
  components/footer/footer.scss
  components/footer/index.jsx
  components/layout.jsx
Due: yarn format, prettier --write

improve bootstrap build
  components/accordion/accordion.scss
  components/bootstrap/_core.scss
  components/bootstrap/bootstrap.scss
  components/footer/footer.scss
Due: prettier --write

improve hero component
  components/header.jsx
  components/hero.jsx
  components/hero/hero.scss
  components/hero/index.jsx
  components/images/backgrounds/debby-hudson-557741-unsplash.jpg
  components/images/backgrounds/joanna-kosinska-129039-unsplash.jpg
  components/images/backgrounds/rawpixel-558599-unsplash.jpg
  pages/index.jsx
Due: yarn format, prettier --write

improve hero background
  components/hero/hero.scss
  components/hero/index.jsx
  components/images/backgrounds/brandi-redd-122054-unsplash.jpg
Due: yarn format, prettier --write

add shadow to header
  components/header/header.scss
  components/header/index.jsx
Due: yarn format, prettier --write

implement key-feature component
  components/index.js
  components/key-feature/index.jsx
  components/key-feature/key-feature.scss
Due: yarn format, prettier --write

add key features to home page
  images/api.svg
  images/globe.svg
  images/hall.svg
  pages/index.jsx
Due: yarn format

add gradient background to home page
  components/hero/hero.scss
  images/brandi-redd-122054-unsplash.jpg
  pages/index.jsx
  pages/index.scss
Due: yarn format, prettier --write

implement switcher component
  components/index.js
  components/switcher/index.jsx
  components/switcher/switcher.scss
Due: yarn format, prettier --write

implement quotations according to the design
  components/bootstrap/_type.scss
  components/bootstrap/_variables.scss
  components/bootstrap/bootstrap.scss
  components/footer/footer.scss
Due: prettier --write

add partners section to home page
  pages/index.jsx
  pages/index.scss
Due: yarn format, prettier --write

implement general article component
  components/content/article.jsx
  components/content/content.jsx
  components/content/index.js
  components/content/section.jsx
  components/index.js
  next.config.js
  package.json
  yarn.lock
Due: yarn format, prettier --write

add api section of service page
  pages/dashboard.jsx
  pages/services/api.md
  pages/services/index.jsx
Due: yarn format

improve content components
  components/content/article.jsx
  components/content/content.scss
  components/content/index.js
  components/content/section.jsx
Due: yarn format, prettier --write

implement services page
  pages/services/connector.md
  pages/services/dashboard.md
  pages/services/datadumps.md
  pages/services/index.jsx
  pages/services/plugin.md
Due: yarn format

add link component
  components/link.jsx
Due: yarn format

use general Link component in header
  components/header/index.jsx
Due: yarn format

make logo better configurable
  components/hero/index.jsx
  components/logo.jsx
Due: yarn format

implement header according to the design
  components/bootstrap/_navbar.scss
  components/bootstrap/_variables.scss
  components/bootstrap/bootstrap.scss
  components/header/index.jsx
Due: yarn format, prettier --write

refactor accordion, prevent click on link
  components/accordion/index.jsx
  components/accordion/item.jsx
Due: yarn format

implement FAQs page
  data/faq.yml
  pages/faq.jsx
Due: yarn format

add accordion item preopening
  components/accordion/index.jsx
Due: yarn format

fix syntax error
  core.config.yml
Due: none

provide better slugs for first FAQs section
  data/faq.yml
Due: none

improve collapsed item component to pre-open on hash
  components/collapsed.jsx
Due: yarn format

improve accordion-item to be more robust
  components/accordion/accordion.scss
  components/accordion/index.jsx
  components/accordion/item.jsx
Due: yarn format, prettier --write

implement basic collapsed item component
  components/collapsed.jsx
  components/index.js
Due: yarn format

add new FAQs
  data/faq.yml
Due: none

fix faq.yml spacing
  data/faq.yml
Due: none

remove the question about data payload
  data/faq.yml
Due: none

reviewe existing CORE FAQ and update all slugs
  data/faq.yml
Due: none

implement named routing
  components/content/content.jsx
  components/footer/index.jsx
  components/link.jsx
  core.config.yml
  core.routes.yml
  pages/services/api.md
  pages/services/datadumps.md
  pages/services/plugin.md
Due: yarn format
