Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

fix links at Ambassadors page
  data/ambassadors.md
Due: none

Update ambassadors images
  data/ambassador.yml
  pages/about/ambassadors.jsx
  static/images/ambassadors/you.png
  static/images/people/gloria.png
  static/images/people/milica.jpg
  static/images/people/sheppard-full.png
  static/images/unknown-question-mark.svg
  static/images/unknown.svg
Due: yarn format

Rename ambassadors data file
  data/ambassadors.yml
  pages/about/ambassadors.jsx
Due: yarn format

add two new REF questions
  data/faq.yml
Due: none

update documentation on FastSync
  data/documentation/fastsync.md
Due: none

Avoid displaying undefined images for TeamMember pictures
  components/team-member/index.jsx
Due: yarn format

Improve TeamMember data displaying
  components/team-member/index.jsx
Due: yarn format

Add map components
  components/index.js
  components/maps/image-map/image-map.scss
  components/maps/image-map/index.jsx
  components/maps/image-map/map.svg
  components/maps/image-pin/image-pin.scss
  components/maps/image-pin/index.jsx
  components/maps/index.js
Due: yarn format, prettier --write

Add OutreachMaterials component
  components/index.js
  components/outreach-materials/index.jsx
  components/outreach-materials/outreach-materials.scss
Due: yarn format, prettier --write

Add new Ambassadors page
  data/ambassadors.yml
  data/resources.yml
  pages/about/about.scss
  pages/about/ambassadors.js
  pages/about/ambassadors.jsx
  static/images/people/gloria.png
  static/images/people/milica.jpg
  static/images/people/sheppard.png
  static/images/resources/bcard.png
  static/images/resources/brochure.png
  static/images/resources/flyer.png
  static/images/resources/logo.png
  static/images/screenshots/ambassadors-atlas.png
  static/images/unknown-question-mark.svg
  static/images/unknown.svg
Due: yarn format, prettier --write

Delete ambassadors.md file
  data/ambassadors.md
Due: none

Add CORE business card pdf file
  data/resources.yml
  static/resources/core-business-card.pdf
  static/resources/core-card-back.jpg
  static/resources/core-card-front.jpg
Due: none

Customize Outreach materials card buttons
  components/outreach-materials/index.jsx
  data/resources.yml
  pages/about/ambassadors.jsx
Due: yarn format

Add a FAQ about record count in OpenDOAR
  data/faq.yml
Due: none

Add background image to outreach materials on Ambassadors page
  components/outreach-materials/document.svg
  components/outreach-materials/index.jsx
  components/outreach-materials/outreach-materials.scss
  data/resources.yml
  pages/about/ambassadors.jsx
Due: yarn format, prettier --write

Update ambassadors list and photos
  data/ambassadors.yml
  static/images/people/barbora.png
  static/images/people/walters.png
Due: none

Update institution logos at Endorsements page
  data/endorsements.yml
  static/images/logos/ain-shams.png
  static/images/logos/aston-university.svg
  static/images/logos/concordia-university.png
  static/images/logos/ljmu.svg
  static/images/logos/lshtm.jpg
  static/images/logos/metadata2020.svg
  static/images/logos/microsoft.svg
  static/images/logos/nulan.svg
  static/images/logos/raxter.svg
  static/images/logos/ricerca.png
  static/images/logos/ropensci-symbol.svg
  static/images/logos/ropensci.svg
  static/images/logos/rsvpu.png
  static/images/logos/saintmary.jpg
  static/images/logos/universities-uk.svg
  static/images/logos/university-of-london.svg
  static/images/logos/university-of-regensburg.svg
  static/images/logos/university-of-salford.png
  static/images/logos/urfu.svg
  static/images/logos/victoria-university-melbourne.svg
Due: none

Add country to Team member component
  pages/about/ambassadors.jsx
Due: yarn format

Update the Discovery example link to a good one
  data/documentation/discovery-plugin.md
Due: none

Update FAQ about harvesting period
  data/faq.yml
Due: none

Add OutreachMaterials component
  components/index.js
  components/outreach-materials/document.svg
  components/outreach-materials/index.jsx
  components/outreach-materials/outreach-materials.scss
Due: yarn format, prettier --write

Add new Ambassadors page
  data/ambassadors.md
  data/ambassadors.yml
  data/resources.yml
  pages/about/ambassadors.js
  pages/about/ambassadors.jsx
  static/images/people/barbora.png
  static/images/people/gloria.png
  static/images/people/milica.jpg
  static/images/people/sheppard.png
  static/images/people/walters.png
  static/images/resources/bcard.png
  static/images/resources/brochure.png
  static/images/resources/flyer.png
  static/images/resources/logo.png
  static/images/screenshots/ambassadors-atlas.png
  static/images/unknown-question-mark.svg
  static/images/unknown.svg
  static/resources/core-business-card.pdf
  static/resources/core-card-back.jpg
  static/resources/core-card-front.jpg
Due: yarn format

Fix ImagePin hover resize
  components/maps/image-pin/image-pin.scss
Due: prettier --write

Add NumberPin component
  components/maps/index.js
  components/maps/number-pin/index.jsx
  components/maps/number-pin/number-pin.scss
Due: yarn format, prettier --write

Add region clusters to Ambassadors page
  data/ambassadors.yml
  pages/about/ambassadors.jsx
Due: yarn format

Highlight TeamMember targeted by URL
  components/team-member/team-member.scss
Due: prettier --write

Add map components
  components/index.js
  components/maps/image-map/image-map.scss
  components/maps/image-map/index.jsx
  components/maps/image-map/map.svg
  components/maps/index.js
  components/maps/maps.scss
  components/maps/pins/generic.jsx
  components/maps/pins/image.jsx
  components/maps/pins/index.js
  components/maps/pins/number.jsx
  components/maps/pins/pins.scss
Due: yarn format, prettier --write

Add new Ambassadors page
  data/ambassadors.md
  data/ambassadors.yml
  data/resources.yml
  pages/about/ambassadors.js
  pages/about/ambassadors.jsx
  static/images/people/barbora.png
  static/images/people/gloria.png
  static/images/people/milica.jpg
  static/images/people/sheppard.png
  static/images/people/walters.png
  static/images/resources/bcard.png
  static/images/resources/brochure.png
  static/images/resources/flyer.png
  static/images/resources/logo.png
  static/images/unknown-question-mark.svg
  static/images/unknown.svg
  static/resources/core-business-card.pdf
  static/resources/core-card-back.jpg
  static/resources/core-card-front.jpg
Due: yarn format

Fix typo on Recommender service page
  data/services/recommender.yml
Due: none

Update FastSync documentation
  data/documentation/fastsync.md
Due: none

Update WCAG version at Accessibility page
  data/accessibility.md
Due: none

Add new members to the Team
  data/team.yml
  static/images/team/catherine-kuliavets.jpg
  static/images/team/jozef-harag.jpg
  static/images/team/petr-knoth.jpg
  static/images/team/valeriy-budko.jpg
Due: none

Update Ambassadors text
  data/ambassadors.yml
Due: none

Crop API screenshot
  data/services/api.yml
Due: none

Add i18n documentation to the Discovery plugin
  data/documentation/discovery-plugin.md
Due: none

Simplify resources data file
  data/resources.yml
  pages/about/ambassadors.jsx
Due: yarn format

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
