Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx}": ["yarn format", "git add"],
    "*.{json,scss,css}": ["prettier --write", "git add"]
  },
  "ignore": [
    "package.json",
    ".*rc"
  ]
}

fix CORE data providers filter by country
  components/repositories-browser/index.jsx
Due: yarn format

fix services section anchor on About page
  pages/about/index.jsx
Due: yarn format

fix typo in Data, Data, Data title
  data/data.yml
Due: none

fix test-local script, decrease Travis test level
  .travis.yml
  package.json
Due: prettier --write

add Discovery plugin documentation page
  data/documentation/discovery-plugin.md
  pages/documentation/discovery/plugin.jsx
  static/images/discovery/oro-repository-plugin.png
Due: yarn format

move Video to components
  components/index.js
  components/video.jsx
  pages/about/index.jsx
Due: yarn format

remove section dividers at Service page
  pages/services/services.scss
Due: prettier --write

add videos about services
  data/services.yml
  pages/services/index.jsx
Due: yarn format

Add enhanced link attribution in Google analytics
  static/js/ga.js
Due: yarn format

fix page background shrinking on small screens
  components/bootstrap/_variables.scss
  components/page/page.scss
  components/page/paper-background.jpg
Due: prettier --write

fix navbar search field animation in Safari
  components/search-navbar/search-navbar.scss
Due: prettier --write

remove outdated development page
  pages/services/dashboard.jsx
Due: yarn format

add REF OA audit page
  data/ref-audit.md
  pages/ref-audit.jsx
Due: yarn format

edit README, add browserstack
  README.md
  docs/images/browserstack-logo.svg
Due: none

add hover functionality to main menu
  components/bootstrap/_nav.scss
  components/bootstrap/_navbar.scss
  components/bootstrap/bootstrap.scss
  components/header/index.jsx
  components/icons/chevron-primary.svg
  components/nav-dropdown/index.jsx
  components/nav-dropdown/nav-dropdown.scss
Due: yarn format, prettier --write

fix dropdown items active state
  components/bootstrap/_navbar.scss
  components/bootstrap/_variables.scss
Due: prettier --write

add text captions to service videos
  data/services.yml
  pages/services/index.jsx
Due: yarn format

add a space after video
  pages/services/index.jsx
Due: yarn format

fix the text
  data/services.yml
Due: none

remove dots, move to top
  data/services.yml
  pages/services/index.jsx
Due: yarn format

add REF2021 FAQs, link pages
  data/about.yml
  data/data.yml
  data/faq.yml
  data/ref-audit.md
Due: none

split blockquotes on ref-audit page
  data/ref-audit.md
Due: none

link brochure FAQ to Resources
  data/faq.yml
Due: none

update ref-audit page
  data/ref-audit.md
Due: none

fix square braces at ref-audit page
  data/ref-audit.md
Due: none

add a section to ref-audit page
  data/ref-audit.md
Due: none

update ref audit page
  data/ref-audit.md
Due: none

link Discovery plugin guides from other pages
  data/documentation/discovery-plugin.md
  data/documentation/discovery.md
  data/services/discovery.yml
Due: none

added a space
  data/services/discovery.yml
Due: none

fix spacing typo at Discovery service page
  data/services/discovery.yml
Due: none

update Discovery repository plugin script URL
  data/documentation/discovery-plugin.md
Due: none

improve Discovery plugin instructions for EPrints
  data/documentation/discovery-plugin.md
Due: none

fix George Macgregor's name capitalisation
  data/services/repository-dashboard.yml
Due: none

add Metadata2020 as a partner
  data/endorsements.yml
  static/images/logos/metadata2020.svg
Due: none

add an ambassadors page
  data/ambassadors.md
  pages/about/ambassadors.js
Due: yarn format

upgrade packages
  yarn.lock
Due: none
