Repository oacore/about: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, prettier --write

Update Resources section ID on Ambassadors
  pages/about/ambassadors.jsx
Due: yarn format

Re-integrate Ambassadors into the About page
  data/about.yml
  data/team.yml
  pages/about/about.scss
  pages/about/index.jsx
  static/images/icons/group.svg
Due: yarn format, prettier --write

Improve headlines on About page
  data/about.yml
  data/contact.md
  data/core.yml
  data/team.yml
  pages/about/index.jsx
Due: yarn format

Increase contact options scan-ability
  data/contact.md
Due: none

Fix child nodes checking for being Section
  components/content/article.jsx
Due: yarn format

Add breadcrumbs to the Research Outputs page
  data/research-outputs.yml
  pages/about/research-outputs.jsx
Due: yarn format

Fix Ambassadors section description on About
  data/about.yml
Due: none

Adapt an accordion for contacts
  data/contact.md
  data/contacts.yml
  pages/about/index.jsx
Due: yarn format

Pass className down in the Accordion component
  components/accordion/index.jsx
Due: yarn format

Update Contacts navigation item title
  data/core.yml
Due: none

Add breadcrumb navigation to FAQ page
  data/faq.yml
  pages/faq.jsx
Due: yarn format

Add CORE-MAG mapping mention
  data/documentation/dataset.md
Due: none

Add country and repository to data providers cards
  components/repositories-browser/index.jsx
Due: yarn format

Add new logos to Institunions section on endorsements page
  data/endorsements.yml
  static/images/logos/dspace.png
  static/images/logos/hsu.png
  static/images/logos/nslg.png
  static/images/logos/uol.svg
Due: none

Use Github Actions over TravisCI
  .github/workflows/pull-request-check.yml
Due: none

Use Github Actions over TravisCI (#125)
  .github/workflows/pull-request-check.yml
Due: none

Fix .lintstagedrc config
  .lintstagedrc
Due: none

Fix .huskyrc config
  .huskyrc
Due: none

Bump husky 3.0.9
  package.json
  yarn.lock
Due: prettier --write

Adjust pull request check pipeline
  .github/workflows/pull-request-check.yml
Due: none

Bump eslint-plugin-reat
  package.json
  yarn.lock
Due: prettier --write

Fix eslint & prettier errors
  .eslintrc.yml
  .github/workflows/pull-request-check.yml
  .prettierrc.yml
  components/alphabet-filter/index.jsx
  components/blockquote/index.jsx
  components/link.jsx
  components/logos-carousel/index.jsx
  components/repositories-browser/index.jsx
  package.json
  router.js
Due: yarn format, prettier --write

Bump next
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

Fix babel warning about core-js version
  .babelrc
  babel.config.js
  package.json
  yarn.lock
Due: yarn format, prettier --write

Remove unused pipelines
  .gitlab-ci.yml
  .travis.yml
  bitbucket-pipelines.yml
Due: none

Remove unused dependency markdown-it
  package.json
  yarn.lock
Due: prettier --write

Fix nextjs warnings
  components/key-feature/index.jsx
  components/layout/document.jsx
  components/skip-to-content.jsx
  data/team.yml
  pages/_app.jsx
Due: yarn format

Fix lint
  components/key-feature/index.jsx
  pages/about/ambassadors.jsx
  pages/about/index.jsx
Due: yarn format

Review fixes
  .gitignore
  components/layout/head.jsx
  package.json
Due: yarn format, prettier --write

Enable trailing slash exporting
  next.config.js
Due: yarn format

Update Discovery coverage notice
  data/services/discovery.yml
Due: none

Add FastSync page description
  data/services/fastsync.yml
Due: none

Fix alignment
  components/key-feature/index.jsx
Due: yarn format

Automate content rebase
  .github/workflows/rebase-content.yml
Due: none

Remove react-leaflet
  package.json
  yarn.lock
Due: prettier --write

Fix alignment (#142)
  .github/workflows/rebase-content.yml
  components/key-feature/index.jsx
Due: yarn format

Fix rebase branch
  .github/workflows/rebase-content.yml
Due: none

Path conditions:
  yarn format: any of: *.{js,jsx}
  prettier --write: any of: *.{json,scss,css}
